button, .form-textbox {
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	font: normal 18px/1.5 BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0;
	background: #fcfbff;
}

.layout {
	margin: 0 auto;
	width: 85vmin;
	text-align: center;
}

.name-header {
	font-size: 300%;
}

b, p, label {
	font-size: 120%;
	display: block;
}

img {
	margin: 3%;
	border-radius: 1vh;
	max-width: 50vh;
}

.form-textbox {
	width: 20em;
}

.form-textbox, button {
	margin: .25em;
}

button {
	margin-bottom: 4em;
	margin-top: 2em;
}

.form-textbox, button {
	border: 2px solid #aaaaaa;
	border-radius: 0.5vmin;
	transition-duration: 0.1s;
}

.form-textbox:focus, button:focus {
	outline: none;
	border: 2px solid #444444;
}

